*{
    padding: 0px;
    margin: 0px;
}



html,body{
    font-family: "微软雅黑";
}


input{
    border:none;
    outline: none;
}



.test{
    width:auto;
    height:41px;
    background:#43ccf0;
    text-align: center;
    line-height: 41px;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    
}


.move{
    width:20px;
    height: 20px;
    background:url("../images/1.png")no-repeat right;
    float: left;
    margin-top: 10px;
}


.test-first{
    width:auto;
    height:85px;
    background:#fff;
    position: relative;
    padding: 0 20px;
    margin-bottom: 11px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 25px;
    font-size: 12px;
    text-align: center;
    color: #caaa6b;
    overflow: hidden;
}
.fl{
  
    float: left;  
}

.fr{
    float: right;
}

.img{
    width:60px;
    height:70px;
  
}
.img_two{
    position: absolute;
    left: 50%;
    margin-left: -30px;
  }

.img{
    width:60px;
    height:70px;
}


.img-one{
    width:43px;
    height:40px;
    background:url("../images/h.png") no-repeat;
    margin: 0 auto 10px auto;
    position: relative;
}

.true{
    width:17px;
    height:17px;
    position: absolute;
    background: url("../images/5.png")no-repeat;
    right:-5px;
    top:-5px;
}

.img-two{
    width:43px;
    height:41px;
    background:url("../images/h.png") -1px  no-repeat;
    margin: 0 auto 10px auto;
    position: relative;
}

.img-three{
    width:43px;
    height:41px;
    background:url("../images/shenhe11.png") no-repeat;
    margin: 0 auto 10px auto;
    position: relative;
}


.pass{
    width:43px;
    height:41px;
    background:#cccccc;
    border-radius: 20px;
    margin: 0 auto 10px auto; 
    background-image:url("../images/pass.png");
    background-repeat: no-repeat;
    background-position: center;
}

.pass_{
    width:43px;
    height:41px;
    background:#ff79bc;
    border-radius: 20px;
    margin: 0 auto 10px auto; 
    background-image:url("../images/pass.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.pass-one{
    width:auto;
    height:35px;
    color:#3f557a;
    margin: 0 20px;
    font-size: 12px;
}


.pass-two{
    width:auto;
    height:40px;
    text-align: center;
    line-height: 40px;
    color:#43ccf0;
    margin: 0 20px;
    border: 2px solid #43ccf0;
    border-radius: 4px;
}

.pass-last{
    width:auto;
    height:40px;
    color: #999999;
    font-size:12px;
    margin: 0 20px;
}



.arrow-con{
    width:auto;
    height:50px;
    margin: 0 30px;
    position: relative;
}

.arrow{
    width:50%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background:url("../images/xiaojiantou2.png")center  no-repeat;
}

.arrow-one{
    width:50%;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    background:url("../images/xiaojiantou1.png")center  no-repeat;
}


.arrow-two{
    width:50%;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    background:url("../images/xiaojiantou2.png")center  no-repeat;
}
.wenzi{
    width:auto;
    height:20px;
    color:#3f557a;
    font-size:12px;
    margin:16px 20px 16px 20px;
}
.wenzi2{
    width:220px;
    height:35px;
    color:#ccc;
    font-size:12px;
    margin:16px 20px 16px 20px;
}